.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  will-change: transform;
  margin-left: -1rem;
  align-items: stretch;
  height: 100%;
}

.embla__button {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translateY(-50%);
  border: 0;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.embla__button:not(:disabled) {
  cursor: pointer;
  fill: #1bcacd;
}

.embla__button:disabled {
  fill: #e9e9e9;
}

.embla__button__svg {
  width: 3.5rem;
  height: 3.5rem;
}

.embla__button--prev {
  left: 0.7rem;
}

.embla__button--next {
  right: 0.7rem;
}
